## 파이썬 리스트

In [23]:
a=[7,2,3]
type(a)

list

In [19]:
a=[7,2,3]
a+3

TypeError: can only concatenate list (not "int") to list

In [20]:
a=[7,2,3]
a+[30]

[7, 2, 3, 30]

In [22]:
a=[7,2,3]
a*5

[7, 2, 3, 7, 2, 3, 7, 2, 3, 7, 2, 3, 7, 2, 3]

In [25]:
b=[]
b.append(a[0]*5)
b.append(a[1]*5)
b.append(a[2]*5)
b

[35, 10, 15]

## 파이썬 리스트와 for

In [2]:
sido=[ 
       ['서울', 977, '강남', '동대문','강동'],
       ['제주',63,'서귀표','제주시'],
       ['강원',156, '속초', '양양', '강릉','철원']
     ]
    
sido[0]

['서울', 977, '강남', '동대문', '강동']

In [3]:
sido[0][1]

977

In [7]:
for i in sido:
    print('-'*50)
    print(i)

--------------------------------------------------
['서울', 977, '강남', '동대문', '강동']
--------------------------------------------------
['제주', 63, '서귀표', '제주시']
--------------------------------------------------
['강원', 156, '속초', '양양', '강릉', '철원']

In [8]:

for i in sido:
    
    print('-'*50)
    print(i[0])

--------------------------------------------------
서울
--------------------------------------------------
제주
--------------------------------------------------
강원

In [9]:
for i in sido:
    
    print('-'*50)
    if i[0]=='제주':
        print(i[0])

--------------------------------------------------
--------------------------------------------------
제주
--------------------------------------------------

In [11]:
for i in sido:
    
    print('-'*50)
    if i[0]=='제주':
        print(i[0])
    else:
        print('xxx')

--------------------------------------------------
xxx
--------------------------------------------------
제주
--------------------------------------------------
xxx

In [12]:
for i in sido:
    
    print('-'*50)
    print(i[1])

--------------------------------------------------
977
--------------------------------------------------
63
--------------------------------------------------
156

In [18]:
sum=0
for i in sido:
    
    print('-'*50)
    print(i[1])
    sum=sum+i[1]
print('#'*100)
print('\n총합',sum)  #\n은 한줄 띄고

--------------------------------------------------
977
--------------------------------------------------
63
--------------------------------------------------
156
####################################################################################################

총합 1196

## 파이썬 array
- 리스트와 구조는 동일하지만 같은크기, 같은 성격을 갖고 있는 자료셋의 집합
- list로 작성된 자료를 array로 변환해야 사용할수 있음.
- 연산을 쉽고 빠르게 할수 있는 Numpy모듈과 사용하면 좋음

In [37]:
a=[1,"2",3]
type(a),a

(list, [1, '2', 3])

In [36]:
import numpy as np
b=np.array(a)
b, type(b)

(array(['1', '2', '3'], dtype='<U11'), numpy.ndarray)

In [38]:
a+3, b+3

TypeError: can only concatenate list (not "int") to list

In [43]:
a=[1,3,4]
b=np.array(a)
type(a),type(b), a+[30],b+30

(list, numpy.ndarray, [1, 3, 4, 30], array([31, 33, 34]))

## 파이썬 dic(딕셔너리)

In [53]:


my_dict = {'이름': ['홍길동','박하나','강서울'], 
           '나이': [25,30,20], 
           '직업': ['학생','회사원','교사']
          }

print(my_dict['이름'])  # '예시'를 출력

['홍길동', '박하나', '강서울']

In [51]:
my_dict

{'이름': ['홍길동', '박하나', '강서울'], '나이': [25, 30, 20], '직업': ['학생', '회사원', '교사']}

In [52]:
my_dict['이름'][0]

'홍길동'

In [55]:
my_dict.keys()

dict_keys(['이름', '나이', '직업'])

In [56]:
my_dict.values()

dict_values([['홍길동', '박하나', '강서울'], [25, 30, 20], ['학생', '회사원', '교사']])

## 파이썬 튜플

In [61]:
# 리스트 구조
a=[30,5,9]
print(a, type(a))

a[0]=100  # a[0]번째 위치에 값을 100으로 변경
print(a)

[30, 5, 9] <class 'list'>
[100, 5, 9]

In [63]:
# 튜플
a=(30,5,9)
print(a, type(a))

# 튜플은 값을 변경할수 없음
a[0]=100  
print(a)

(30, 5, 9) <class 'tuple'>

TypeError: 'tuple' object does not support item assignment