## GPT와 함께하는 판다스 기본
- 작업의 편의성을 위해 데이터셋을 외부에서 읽어오지 않고 생성하였습니다.
- 숫자데이터와 문자데이터에 대한 이해가 필요함
- 숫자데이터는 계산에 필요하며
- 문자데이터(범주형,명목형)은 빈도수 계산에 필요함
- 엑셀에서 쉼표표시가 있는 숫자(1,000)은 파이썬에서 자료를 불러오면 문자자료로 불러옴으로 일반 숫자서식으로 자료를 만들어서 갖고와야함.
- 날짜자료(datetime)형식으로 변환하면 년,월,일,요일에 대한 처리가 가능함으로
- 어떤 작업이 필요한가에 따라 숫자(int, float), 문자(object), 날짜(dateitme)으로 형을 변경해야함.

In [ ]:
# 이 창에서 Ctrl+Enter를 눌러 실행합니다.
#############################
### [작업1-1] ctrl+enter를 눌러
### ### 작업1: 경고메세지 숨기기 
###
################################
import warnings
warnings.filterwarnings("ignore")
print('경고메세지 숨기기를 실행하였습니다')


import pandas as pd
data = {
    '생년월일': ['1990-05-15', '1985-02-20', '1993-11-10', '1988-07-25', '1980-09-05','1990-3-5'],
    '이름': ['홍길동', '김철수', '이영희', '박영수', '최지영','김영희'],
    '성별': ['남성', '남성', '여성', '여성', '여성','여성'],
    '지역': ['서울', '부산', '대구', '서울', '서울','부산'],
    '구매금액': ['10000', '20000', None, '3000', '2000','5000']
}

#############################
### [작업1-2] ctrl+enter를 눌러
### ### 작업1: 경고메세지 숨기기 
###
################################

# DataFrame 생성
df = pd.DataFrame(data)

# DataFrame 출력
print(df)

In [ ]:
###########################################
### [문제1] 데이터의  전체크기를 확인합니다. 
### 'gpt'--> 판다스 데이터 행,열 갯수확인코드
###########################################

In [ ]:
###########################################
### [문제2] 데이터의  전체 전체적인 구조를 확인합니다. 
### 데이터의 type은 사용하고자 하는 작업에 따라 변경 또는 유지해야함
### 현재 생년월일은 object 임으로 year,month등의 날짜관련 작업이 불가능함
### 현재 구매금액도 object임으로 일반적인 연산작업이 불가능함
###########################################

In [ ]:
###########################################
### [문제3] 데이터 통계 
### 'gpt'-->  판다스 데이터통계 코드
### 구매금액도 object 임으로 min,max등의 숫자관련 통계가 출력되지 않음
### 현재 자료는 모두다 object 임으로 
##  describe 했을때 갯수, unique갯수 및 count수에 대한 최대 갯수등에 대한 요약 통계만 보임
### 
###########################################

In [ ]:
###########################################
### [문제4] 데이터의 빈도분석 확인.
### 'gpt'--> 성별count, 지역count
### 성별Count=성별빈도수계산
### 지역Count=지역빈도수계산
##############################################

In [ ]:
##############################3
## 참고 성별Count와 
## 지역Count변수가 작성되었다면 
### 시각화를 다음코드로 작성하여 봅니다.
###  단, 빈도수 계산과, 차트를 동시에 진행할수 있는 seaborn의 countplot를 이용하면 쉽게 시각화 가능합니다.
###########################
import matplotlib.pyplot as plt

plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

plt.figure(figsize=(10,3))   #가로10, 세로3의 크기를 작성하고
plt.subplot(1,2,1)   #1행2열중 첫번쨰 위치에 작성
plt.bar(성별Count.index, 성별Count)
plt.title('성별빈도수')

plt.subplot(1,2,2)
plt.bar(지역Count.index, 지역Count)   # 1행2열중 2번째 위치에 작성
plt.title('지역빈도수')

In [ ]:
###########################################
### [문제6] 열 선택하기
### 생년월일과 구매금액만 출력합니다.
### 'gpt'--> 
########################################

In [ ]:
###########################################
### [문제7] 조건에 맞는 자료 선택하기
### 지역이 서울인 자료만 필터
###  'gpt'--> 
########################################

In [ ]:
###########################################
### [문제8] 조건에 맞는 자료 선택하기 
### 구글검색   판다스 조건 or
### https://velog.io/@goyoon5526/pandas-dataframe%EC%97%90%EC%84%9C-%EC%A1%B0%EA%B1%B4%EC%9D%84-%EC%97%AC%EB%9F%AC-%EA%B0%9C-%EA%B1%B0%EB%8A%94-%EB%B0%A9%EB%B2%95
### 지역이 서울 또는 부산인 자료 필터
########################################

In [ ]:
###########################################
### [문제9] 결측치 처리 
### 결측데이터 있는 자료를 확인합니다.
########################################

In [ ]:
###########################################
### [문제10] 결측데이터 삭제후 df2데이터프레임에 할당한후 확인 합니다.
###   
### 
########################################

In [ ]:
###########################################
### [문제11] df2의 정보를 확인합니다.
### 
########################################

In [ ]:
###########################################
### [문제12]  df2데이터의 구매금액의 object를 int형으로 변경합니다.
### 다음의 명령을 실행하고, df.info() 로 구메금액의 int형으로 변경되었는지를 확인합니다.
### 
##################################

In [ ]:
###########################################
### [문제13]  df2데이터의 생년월일 object를 datetime형으로 변경한뒤
### df2.info()로 정보를 출력합니다.
### 
#####################################

In [ ]:
###########################################
### [문제14] 타입변경이 완료된 자료를 이용하여 날짜필드를 생성합니다.
### 
### 년,월,일 변수 생성
### df2['생년월일'].year
#####################################

In [ ]:
###########################################
### [문제15] 다음명령어 실행
#####################################

df2['요일'] = df2['생년월일'].dt.day_name()
df2.head()

In [ ]:
###########################################
### 문제16을 위한 준비사항  (ctrl+enter로 아래내용을 실행합니다.)
### 아래 내용을 실행합니다. 
### 데이터병합을 위한 준비사항
### 1~3월을 1사분기, 4,5,6을 Q2, 7,8,9를 Q3, 10,11,12를 Q4로 명명하고자 할때
### merge기능을 이용하여 작업할수 있음
### 데이테셋 준비
#####################################

Quarter={'month':[1,2,3,4,5,6,7,8,9,10,11,12],
  '분기':['Q1','Q1','Q1','Q2','Q2','Q2','Q3','Q3','Q3','Q4','Q4','Q4']}

dfQ=pd.DataFrame(Quarter)
dfQ

In [ ]:
###########################################
### [문제16] 데이터변합 
### df2 와 dfQ의 month를 이용하여 결과물을 result 값에작성합니다.
### result 출력
#####################################
Quarter={'month':[1,2,3,4,5,6,7,8,9,10,11,12],
  '분기':['Q1','Q1','Q1','Q2','Q2','Q2','Q3','Q3','Q3','Q4','Q4','Q4']}

dfQ=pd.DataFrame(Quarter)

dfQ.rename(columns={'month':'월'},inplace=True)
result = pd.merge(df2,dfQ,on='월')
result